@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#main {
    background-color: white;
}

#heading {
    margin: 30px 0px;
    text-align: center;
    color: #0e4069;
}

#heading h2 {
    font-size: 35px;
    font-weight: 600;
}

#heading h3 {
    font-size: 20px;
    font-weight: 600;
}

#input-div {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 30px;
}

#input-div input {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 8px #333;
    padding: 10px 20px;
    height: 35px;
    font-size: 18px;
    color: black;
}

#input-div button {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 8px #333;
    /* padding: 10px 20px; */
    height: 36px;
    font-size: 16px;
    color: white;
    background-color: #138065;
    margin-left: 10px;
}

#city h3 {
    align-items: center;
    padding-top: 15px;
    margin-right: 30px;
}

#img1 {
    height: 60px;
    margin-left: 20px;
}

#img2 {
    height: 80px;
    margin-right: 8px;
    padding-top: 13px;
}

#temp1 {
    display: flex;
    justify-content: space-evenly;
}

#temp1 h3 {
    padding-top: 15px;
}

#wind1 {
    display: flex;
    justify-content: space-evenly;
}

#wind1 h3 {
    padding-top: 10px;
    margin-left: 20px;
}

#img3 {
    height: 80px;
}

#humi1 {
    display: flex;
    justify-content: space-evenly;
}

#humi1 h3 {
    padding-top: 10px;
    margin-right: 32px;
}

#img4 {
    height: 80px;
}

#sp {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

#first-col {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

#sec-col {
    display: flex;
    justify-content: center;
}

#main-day {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

#day #my-img {
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (max-width: 400px){
    input{
        width: 100%;

    }
   
}

